<ion-header>
  <ion-toolbar>
    <ion-title>Gerar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="gerar('SP')">
    Senha Prioritária
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="gerar('SE')">
    Retirar Exames
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="gerar('SG')">
    Senha Geral
  </ion-button>

  <h2 *ngIf="ultimaSenha">Última senha: {{ ultimaSenha }}</h2>

</ion-content>